language: node_js
sudo: false
addons:
  apt:
    packages:
    - g++-4.8
    - libnetcdf-dev
env:
  - CXX=g++-4.8
node_js:
  - "4.1"
  - "4.0"
  - "0.12"
  - "0.11"
  - "0.10"
  - "0.8"
  - "0.6"
  - "iojs"
